<<<<<<< Updated upstream
#spr1_f7a3800 {clip:rect(0px,960px,540px,0px);}#txt0_f7a3800,#txt1_f7a3800 {font-family:fnt4; font-size:40px; line-height:56px; color:#ffffff;}
=======
#spr1_96f67fe {clip:rect(0px,960px,540px,0px);}#txt0_96f67fe,#txt1_96f67fe {font-family:fnt4; font-size:40px; line-height:56px; color:#ffffff;}
>>>>>>> Stashed changes
